<h2 appHoverFocus> You logged in at : {{ loginDate  | date:"MMMM d, y, h:mm:ss a z" | uppercase }} </h2>
<h2>Please reach out to me : {{ contactNumber | mobileNumber }} </h2>
<h2 appHideElement>Please reach out to author : {{ authorName | addTitle:'Mr':'ji' }} </h2>
<h2 *appIfElement="true">Please reach out to author : {{ authorName | addTitle:'Dr':'garu' }} </h2>

<h2><font color=green>{{message}}</font></h2>
<div>
    <table border="1" bgcolor="lightblue" cellspacing="10" cellpadding="10">
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Quantity On Hand</th>
            <th>Price</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        <tr *ngFor="let product of products">
            <td>{{product.productId}} </td>
            <td>{{product.productName | uppercase}} </td>
            <td>{{product.quantityOnHand}} </td>
            <td>{{product.price | currency:'INR'}} </td>
            <td><button class="btn btn-danger" (click)="deleteProduct(product.productId)">Delete</button> </td>
            <td><button class="btn btn-danger" (click)="editProduct(product.productId)">Edit</button> </td>

        </tr>
    </table>
</div>
<br/>
<br/>
<br/>
<button class="btn btn-danger" (click)="navigateToProduct()">Add Product</button> 
