<br/>
<br/>
<a routerLink="productList">Home</a>|
<a routerLink="employee">Employee</a>|
<a routerLink="employeeList">EmployeeList</a>|
<a routerLink="productList">Product List</a>|
<a routerLink="productAdd">Product Add</a>|

<hr/>

<router-outlet></router-outlet>

<hr/>
<br/>
<br/>
<br/>
<button *ngIf="userLogged">Login</button>

<div [ngSwitch]="color">
    <p *ngSwitchCase="'red'">You have selected red color</p>
    <p *ngSwitchCase="'green'">You have selected green color</p>
    <p *ngSwitchCase="'yellow'">You have selected yellow color</p>
</div>

<ul *ngIf="showHideDepartments">
    <li *ngFor="let dept of departments">
        {{dept}}
    </li>
</ul>

<button (click)="toggleDepartment()">
    {{ showHideDepartments ? "Hide":"Show" }} Departments</button>



<h1>Hello from app component</h1>
<h1>Mohammad Tufail Ahmed Welcomes you all in Angular Training</h1>
<h1>Kantar Private Limited</h1>
<h1>{{ employeeName }} {{ 2+2 }} </h1>
<img [src]="imageURL">

<br/>
<button (click)="changeImage()">Change Image</button>
<button (mouseover)="changeName()">Change Name</button>
<br/>
Number 1 : <input type="text" name="number1" [(ngModel)]="number1">
Number 2 : <input type="text" name="number2" [(ngModel)]="number2">
<button (click)="doSum()">sum</button>
Result : {{ number1}}  + {{ number2}}  = {{ result}}

<br/>
<br/>
<br/>
<br/>

<br/>
<br/>
<br/>